

.dropdown-menu{background:black;}
.hhh{color:white;background:red;border-radius:5px;width:100px;font-size:22px;}
.hhhh{background:#99c2ff;border-radius:5px;font-size:20px;color:white;}





    
.part-1{margin:5px; padding:0px;border-radius:20px;}    
.part-1{font-size:35px;}
.part-1{background:#e6ccff;}
.part-1{width:300px;height:60px;margin:auto;}

.fas{color:white;}
.container-fluid{background:black;}
.container-fluid .fas{font-size: 30px;font-color:white;}
.container ul li a:hover{background:#333;color:white;border-radius:20px;width:300px;height:60px;}   

.container-fluid{}
#container{margin-top:-8px;}
.s{font-size:40px;color:#E795B3;}
.t{}

.navbar-toggler{background:#ddd;}
.dropdown-item{font-color:white;background:black;}
.f{background: white;}
.haha{background:black;}





#name{color: #7FFF9B; font-familly:none;font-size:30px;}

#container{background:#ffb3b3;height:770px;} 

.free_ex{position: absolute;margin:auto;color:blue;left: 110px;font-size: 30px;padding: 4px;margin-top:-20px;
}