

.fas{color:white;}
.container-fluid{background:black;}
.container-fluid .fas{font-size: 30px;font-color:white;}
.container ul li a:hover{background:#333;color:white;border-radius:20px;width:300px;height:60px;}   

.container-fluid{}
#container{margin-top:-8px;}
.s{font-size:40px;color:#E795B3;}
.t{}

.navbar-toggler{background:white;}
.dropdown-item{font-color:white;}
.f{background: white;}



#name{color: #7FFF9B; font-familly:none;font-size:30px;}

#container{background:#000033;} 
.gggg{margin-top:-12px;}



.dghjjd{color: #ddd;}

.paragraph{
    position:absolute; 
    left:15px;
    right: 15px;
    font-size:23px;
    color:white;
}
.button{text-align:center; background:#ddd;font-size:25px;}
.button a{color:green;text-decoration:none;}
.button{width:140px;height:38px;margin:auto;}
.button ul:hover{background:black;color:white;border-radius:25px;transition:all 0.5s;height:38px;}
.button ul{list-style: none;margin:0px;padding:0;}
.button ul li{display: inline-block;}

.button{border-radius:25px;}


.img{position:absolute;
     left: 8%;
}
.our{position:absolute; left:30%;}
.our{font-size:30px;color:#cc0099;}

#icon{}

.menu{height:6px;background:white;margin-top:400px;}
.icon-2{background:black;}
.last_menu{background:#333;height:470px;}
.fa-facebook{position:absolute;left:100px;color:#ddd;margin-top:220px;font-size:27px;}
.fa-youtube{position:absolute;left:145px;color:#ddd;margin-top:220px;font-size:27px;}
.fa-google{position:absolute;left:190px;color:#ddd;margin-top:220px;font-size:27px;}
.fa-Instagram{position:absolute;left:235px;color:#ddd;margin-top:220px;font-size:27px;}
.fa-envelope-open-text{position:absolute;left:20px;color:#ddd;margin-top:140px;font-size:15px;}


.last_menu{color:white;margin-top:20px;}
.last_menu a{text-decoration:none;}
.free_exam{position:absolute;margin-top:20px;left:20px;font-size:19px;color:#ddd;}
.freeexam_1{margin-top:7px;}
.freeexam_1{position:absolute;left:20px;font-size:14px;}
.dropdown-item{}
.navbar-nav{background:black;}
.hhh{color:white;background:red;border-radius:5px;width:100px;font-size:22px;}

.dropdown-menu{background:black;}

.Contact{position:absolute;margin-top:110px;left:17px;}
.gmail{position:absolute;margin-top:136px;left:40px;font-size:15px;color:#ddd;}



.header_right ul{}
.header_right ul{position:absolute;left:17px;}
.header_right ul{list-style:none;margin:0;padding:0;margin-top:5px;}
.header_right li{display:inline-block;}
.header_right a{background:;font-size:15px;text-decoration:none;padding:5px 15px;text-transform:uppercase;color:#333;transition:all 0.5s}
.header_right a:hover{background:#333;color:white;border-radius:3px;}

.fa-arrow-alt-circle-up{margin-top:280px;margin-left:330px;font-size:26px;}

.jsc{color: green;}
.nine{color:yellow;}
.ssc{color:orange;}
.mcq{color:maroon;}
.website{color:#cc0099;}
.hhhh{background:#993333;border-radius:5px;font-size:20px;color:white;}


.ilvut{height:300px;
       width:250px;
       background:#cc0099;
       margin:auto;
       border-radius: 20px;
       
    
}

.ilut{height:300px;            
                 /* HOME START */
.s {
    font-size: 40px;
    color: #E795B3;
    font-style:cursive;
}
.t{
    font-style: cursive;
    color:cyan;
}
.u{
    font-style:cursive;
    color: orange;
}
.d{
    font-style: cursive;
    color: ;
}
.y{
    font-style: cursive;
    color:yellow ;
}
.o{
    font-style: sans-serif;
    color:blue;
}
.e{
    font-style: fantasy;
    color:red;
    font-size: 37px;
}
.x{
    font-style: sans-serif;
    color:#eee;
}
.a{
    font-style: sans-serif;
    color:#B0C4DE;
}
.m{
    font-style: sans-serif;
    color: ;
}

#website-name{
    color: #7FFF9B;
    font-familly: none;
    font-size: 30px;
}

/*
.navbar-brand{
  font-style:inherit;normal|italic|oblique|initial|
}


serif, sans serif, cursive, fantasy, and monospace.



*/
#container {
    background: #000033;
    height:auto;
    margin-top: px;
}
#container {
    
}
.container-fluid {
    background: black;
    
}
.container-fluid .fas {
    font-size: 30px;
    
}
/*
.container ul li a:hover {
    background: #333;
    color: white;
    border-radius: 20px;
    width: 10px;
    height: 60px;
}*/
.container-fluid {
    margin-top: -19px;
}

#home{
    position: sticky;
  top:10px;
}
#home{}

.navbar-toggler {
    background: white;
    font-size: 20px;
   
}

.navbar{
    height: 20px;
}
.navbar-nav {
    background:yellow;
}
.hhh {
    color: white;
    background: red;
    border-radius: 5px;
    width: 100px;
    font-size: 22px;
}
.fas {
    color:white;
}
.dropdown-menu {
    background: green;
}
                  /* HOME END */
                  
                  
               /* ICON START*/

              /* ICON END */


              /* Main Page  START*/  

              /* Main Page END */


                   /* NOTIC START */
.tlabukk{
    margin-left: 20px;
    margin-right:20px;
    background:#B0C4DE;
    color:#191970;
    border-radius:3px;
    color:black;
}
.tlabukk{
    position: sticky;
    top: 79.6px;
}
.notic{
    background:#ddd;
}
.tlabuk{
    position:absolute;
    margin-left: 20px;
    margin-right:20px;
    background:cyan;
    color:black;
    
}
                     /* NOTIC END */




/*
.gggg {
    margin-top: -12px;
}*/
                 /* body start */
.your-wish {
    color: #ddd;
}
.jsc {
    color: green;
}
.nine {
    color: yellow;
}
.ssc {
    color: orange;
}
.mcq {
    color:pink;
}

#paragraph {
    font-size: 22px;
    color: white;
}
.website {
    color: #cc0099;
}
.hhhh {
    background: #993333;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.button-1 {
    text-align: center;
    background: #ddd;
    font-size: 25px;
}
.button-1 a {
    color: green;
    text-decoration: none;
}
.button-1 {
    width: 140px;
    height: 38px;
    margin: auto;
}
.button-1 ul:hover {
    background: black;
    color: white;
    border-radius: 25px;
    transition: all 0.5s;
    height: 38px;
}
.button-1 ul {
    list-style: none;
    margin: 0px;
    padding: 0;
}
.button-1 ul li {
    display: inline-block;
}
.button-1 {
    border-radius: 25px;
}

.img {
    margin: auto;
}
.our {
    margin: auto;
}
.our {
    font-size: 30px;
    color: #cc0099;
    
}
              /* body end */
              
              
              
            /* FOOTER START */


.menu {
    height: 6px;
    background: white;
    margin-top: 100px;
}
.last_menu {
    background:#333;
    height: 150px;
}
.last_menu {
    color: white;
    margin-top: 20px;
}
.last_menu a {
    text-decoration: none;
}
.fa-facebook {
    position: absolute;
    left: 100px;
    color: #ddd;
    margin-top: 80px;
    font-size: 27px;
}
.fa-youtube {
    position: absolute;
    left: 145px;
    color: #ddd;
    margin-top: 80px;
    font-size: 27px;
}
.fa-google {
    position: absolute;
    left: 190px;
    color: #ddd;
    margin-top: 80px;
    font-size: 27px;
}
.fa-Instagram {
    position: absolute;
    left: 235px;
    color: #ddd;
    margin-top: 80px;
    font-size: 27px;
}
.fa-envelope-open-text {
    position: absolute;
    left: 20px;
    color: #ddd;
    margin-top: 50px;
    font-size: 15px;
}

.Contact {
    position: absolute;
    margin-top: 20px;
    left: 17px;
    font-size:18px;
}
.gmail {
    position: absolute;
    margin-top: 48px;
    left: 40px;
    font-size: 15px;
    color: #ddd;
}
            /* FOOTER END */
/*            
.icon-2 {
    background: black;
}*/




/*
.free_exam {
    position:;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 19px;
    color: #ddd;
}
.freeexam_1 {
    margin-top: 7px;
}
.freeexam_1 {
    position:;
    margin-left: 20px;
    font-size: 14px;
}

*/




/*

.header_right ul {}
.header_right ul {
    position: ;
    margin-left: 17px;
}
.header_right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.header_right li {
    display: inline-block;
}
.header_right a {
    background:;font-size: 15px;
    text-decoration: none;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #333;
    transition: all 0.5s
}
.header_right a:hover {
    background: #333;
    color: white;
    border-radius: 3px;
}*/
.fa-arrow-alt-circle-up {
    margin-top: 110px;
    margin-left: 330px;
    font-size: 26px;
}


/*
.ilvut {
    height: 400px;
    width: 250px;
    background: #cc0099;
    margin: auto;
    border-radius: 20px;


}

.ilut {
    height: 400px;
    width: 250px;
    background: #87CEEB;
    margin: auto;
    border-radius: 20px;
    align-items: left;
}

.lut {
    height: 400px;
    width: 250px;
    background: #87CEEB;
    margin: auto;
    border-radius: 20px;


}*/



/*
.fa-user-alt {
    position: absolute;
    margin: auto;
    color: #ddd;
    margin-top: 18px;
    font-size: 30px;

}

.text {
    font-position: absolute;
    font-size: 15px;
    margin: auto;
}

*/



.notic {
    color: #000033;
    background:white;
    margin-top:-8px;

}






.imggg {
    width: 280px;
    height: 280px;
    border-radius: 15px;


}

.imgg a:hover {
    background: #333;
    color: white;
    border-radius: 3px;

}

#tk{
    color:#5E7D7E;
    padding:0px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}


.tk1{
    color:#008B8B;
    
}
       /*OUR PLANS SECTION START CSS*/
.section{
    margin:0px;
    padding:0px;
    width:300px;
    height:140px;
    background:white;
    margin:auto;
    border-radius:10px;
    
}
.section a{
    color:white;
    text-decoration:none;
}

.in{
    font-size: 25px;
}
.in ul{
    
}

/*
.class8-12{
    margin-top:0px;
    padding:0px;
    width:100px;
    height:50px;
    background:black;
    border-radius:10px;
    static
relative
fixed
absolute
sticky
}*/
      /*JSC */
      
.class-jsc{
    margin-left:15px;
    
    width: 120px;
    height: 40px;
    border: 3px solid #D2B48C;
    background:#AB784E;
    
}
/*
.class-jsc a:hover{
    border-radius:20px;
    background:#ddd;
    color:orange;
    width:400px;
}*/
      /*SSC*/
      
.class-ssc{
    margin-left:165px;
    margin-top: -60px;
    
    width: 120px;
    height: 40px;
    border: 3px solid #D2B48C;
    background:#AB784E;
}/*
.class-ssc a:hover{
    border-radius:20px;
    background:red;
    color:pink;
}*/
      /*HSC*/
.class-hsc{
    margin-top:25px;
    margin-left:15px;
    width: 120px;
    height: 40px;
    border: 3px solid #D2B48C;
    background:#AB784E;
} /*
.class-hsc a:hover{
    border-radius:20px;
    background:#ddd;
    color:#bbb;
}*/
      /*General Knowleadg*/
.class-gk{
    margin-top:-40px;
    margin-left:165px;
    width: 120px;
    height: 40px;
    border: 3px solid #D2B48C;
    background:#AB784E;
}


.ttkk a:hover{
    background: black;
    color: white;
    border-radius: 25px;
    transition: all 0.5s;
    height: 38px;
}

#tlovek a:hover{
    background:black;
    color: green;
    border-radius: 50px;
    transition: all 0.5s;
    height: 38px;
    
}
            
            
                  
                  /* STUDY PAGE*/
#studypage{
    font-size:25px;
    color:orange;
    background:none;
    margin-top:25px;
    margin-left:90px;
    margin-right:90px;
    border:3px solid red;
}

#studypages{
    padding-top: 80px;
}
                  
                  
                  
                  
                  /*STUDY PAGE END*/


 
       /*OUR PLANS SECTION CSS END*/
       
       

           
  /*❤️❤️❤️❤️❤️❤️❤️❤  box-shadow: 0 2px 4px cyan️❤️❤️❤️❤️❤️❤️❤️*/ 

div.scrollmenutk {
    background-color:#FFFFE0;
    overflow: auto;
    white-space: nowrap;
    margin-top: 87px;
  
}

div.scrollmenutk a {
    display: inline-block;
    color: black;
    text-align: center;
    margin: 0 0 5px;
    padding: 0 8px;
    text-decoration: none;
    border-right: 1px solid #d4d4d4;
    font-size: 16px;
    line-height: 20px
}

div.scrollmenutk{
    margin-top:27px;
    
}

       width:250px;
       background:yellow;
       margin:auto;
       border-radius: 20px;
       
    
}

.lut{height:300px;
       width:250px;
       background:green;
       margin:auto;
       border-radius: 20px;
       
    
}

.ktkajaj{
      height:30px;
       width:50px;
       background:#99ccff;
       margin:auto;
       border-radius: 20px;
       margin-top:20px;
       width: 100px;

      
}



.fa-user-alt{ 
            position:absolute;
            left:165px;
            color:#ddd;
            margin-top:18px;
            font-size:30px;
           
}

.text{
     font-position:absolute;
      font-size: 20px;
      
}




             
.notic{color:#000033; 
      background:white;
      margin-top: -10px;
    
}
